.a{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: start;
    color:white;
    font-style: italic;
    text-align: start;
    height: 200px;
    width: 2000px;
    background-color:palevioletred not important;
}